

:root {
    --fonts-all : 'Nunito Sans', sans-serif;
    --dark-color: #000;
    --accent : #5553FF;
}
*{
    font-family: var(--fonts-all);
}
/* header section */
.wrapper{
    padding:none;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: .04px solid #b1adad;
    height:3.5rem;
    font-size: 90%;
    font-family:var(--fonts-all);
    font-weight: 600;
}
.header span {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
   
}
.text-gray-A900 {
    --tw-text-opacity: 1;
    color: rgba(32,32,51,var(--tw-text-opacity));
}
.text-logo {
    --tw-text-opacity: 1;
    color: rgba(73,81,245,var(--tw-text-opacity));
    margin-right:2%;
}
.header span ul{
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content:space-evenly;
}
.header span ul li{
    padding-left:7%;
    padding-right:7%;
    
}
.buttons{
    /* height:30px; */
    border:none;
    background-color: transparent;
    font-family: var(--fonts-all);
    font-size:14px;
    font-weight: 700;
    padding:10px;
    
}
.blueButtons{
    background-color:#5553FF;
    color:#fff;
    width:150px;
    border-radius: 2px;;
}
.blueButtons:hover{
    background-color:blue
}
.searchBar{
    
    padding:10px;
    border:.04px solid #b1adad;
    border-radius:2px
}
.searchBar:focus-within{
    border: 2px solid var(--accent);
    
}
.searchBar input{
    margin-left: 2px;
    width:80%;
  border:none;
} 
.searchBar input:focus{
    outline: none;
} 

/* main section */
.main{
    width:70%;
    margin:0 auto;
    text-align:center;
    padding-bottom:50px;
    
}
.hero-sec{
    margin: 10% 10% auto;
}
.hero-sec h1{
    font-size:2.7rem;   
    font-weight:400;
}
.hero-sec p{
    
    font-size:140%;
}
.heroBtn{
    display:flex;
    
    justify-content: center;
    align-items:center;
    
}
.heroBtn button{
   margin:0 2%;
    
}
.partners ul {
    min-width: 20%;
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-top:5%;

}
.partners ul li {
    list-style: none;

}
.main2{
    padding-top:40px;
    padding-left: 30px;
    padding-right: 30px;
    background-color:#F7F8FD;
}
.sec2-main {
    margin:0 auto;
    text-align:center;
    width:60%;
}
.sec2-main p {
    
    font-size:20px;
    color:#797575
}
.video-she{
    margin:0 auto;
    height:600px;
    width:80%;
}
#iframeEle{
    height:100%;
    width:100%;
    border-radius: 5px;
    
    box-shadow: -6px 7px 19px 0px #c9c9c9;
     
}

.midBanner{
    background-image:#fff;
    padding:10% 0 2% 0;

}
.midBanner .banner{
    margin:0 auto;
    letter-spacing: 1px;
    font-size: 110%;
    font-weight: 400;
    min-width: 300px;
    width: 500px;
    text-align:center;
}
/******************************************** footer********************************************* */
footer{
    
    background-color: #14142F;
    color: #fff;
    padding:8%;
    font-size: 13px;
    /* letter-spacing:2px; */
}


footer .foot-header{
border-bottom:1px solid #fff;

}
footer .foot-sections{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    
}
footer .foot-sections li{
    list-style-type: none;
    
    
    
}

footer .text-head{
    color:rgb(255, 255, 255);
    letter-spacing:2px;
    
}
footer .list-content{
    color:rgb(168, 168, 168);
    width: 80%;
}
footer .list-content:hover{
    color:rgb(255, 255, 255);
}
footer .foot-sections{
    border-bottom: .1px solid rgb(66, 66, 66);
}
footer .signatures{
    
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
footer .signatures .social{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20%;
}
footer .signatures .copyright{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 34%;
}
footer .copyright img{
    max-width: 50%;
    width: 10%;
}